<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<th:block layout:fragment="script">
</th:block>


<div layout:fragment="content">
    <h1>회원 목록</h1>
    <table>
        <thead>
        <tr>
            <th>회원 ID</th>
            <th>회원 이름</th>
            <th>회원 이메일</th>
            <th>회원 주소</th>
            <th>회원 권한</th>
            <th>회원 가입한 시간</th>
            <th>회원 수정한 시간</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="member, status: ${member}">
            <!--        <tr th:each="member : ${member}"> -->
            <td th:text="${member.id}"></td>
            <td th:text="${member.name}"></td>
            <td th:text="${member.email}"></td>
            <td th:text="${member.address}"></td>
            <td th:text="${member.role}"></td>
            <td th:text="${member.regTime}"></td>
            <td th:text="${member.updateTime}"></td>

        </tr>
        </tbody>
    </table>




</div>



</html>